:root {
  --warning-level-one: #ffff00;
  --warning-level-two: #ffdb00;
  --warning-level-three: #ffb600;
  --warning-level-four: #ff9200;
  --warning-level-five: #ff6d00;
  --warning-level-six: #ff4900;
  --warning-level-seven: #ff2400;
  --warning-level-eight: #ff0000;
  --official-text-color: #000000;
}
