:root {
  --warning-level-one: #ffff00;
  --warning-level-two: #ffdb00;
  --warning-level-three: #ffb600;
  --warning-level-four: #ff9200;
  --warning-level-five: #ff6d00;
  --warning-level-six: #ff4900;
  --warning-level-seven: #ff2400;
  --warning-level-eight: #ff0000;
  --official-text-color: #000000;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

.fas {
  margin-top: 5px;
}

.warn1 {
  background-color: var(--warning-level-one);
}
.warn2 {
  background-color: var(--warning-level-two);
}
.warn3 {
  background-color: var(--warning-level-three);
}
.warn4 {
  background-color: var(--warning-level-four);
}
.warn5 {
  background-color: var(--warning-level-five);
}
.warn6 {
  background-color: var(--warning-level-six);
}
.warn7 {
  background-color: var(--warning-level-seven);
}
.warn8 {
  background-color: var(--warning-level-eight);
}
