:root {
  --warning-level-one: #ffff00;
  --warning-level-two: #ffe300;
  --warning-level-three: #ffc600;
  --warning-level-four: #ffaa00;
  --warning-level-five: #ff8e00;
  --warning-level-six: #ff7100;
  --warning-level-seven: #ff5500;
  --warning-level-eight: #ff3900;
  --warning-level-nine: #ff1c00;
  --warning-level-ten: #ff0000;
  --official-text-color: #000000;
}
